<nav>
  <div class="container-fluid top-navbar">
    <%= image_tag('newsweek_logo.svg') %>
    <div id="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</nav>

<div id="main">

  <section id="top-news">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div id="top-article">
          <img src="http://s.newsweek.com/sites/www.newsweek.com/files/styles/desktop/public/2017/11/17/rtx10u4d.jpg" alt="trump family">
          <h3>Trump Inflated His Company's Revenue, Reports Suggest</h3>
          <p>Donald Trump flagrantly lied about Trump Organization's revenue for years, according to Crain's.</p>
        </div>
          <div id="second-article">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="http://s.newsweek.com/sites/www.newsweek.com/files/styles/mobile/public/2017/11/17/rtsl644_0.jpg" alt="bomber plane">
            <h3>Russia to Give New Missiles to Planes Bombing ISIS</h3>
            <p>As Tu-22M3 supersonic bombers blasted the last of ISIS in Syria, Russia announced the new Tu-22M3M fitted with missiles that can soar 130,000 feet and attack 620 miles away.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div id="trending-articles">
          <ul>
            <li><h4>Latest Headlines</h4></li>
            <li>Can Liverpool Ruin Man City’s January Transfer Plans?</li>
            <li>Charles Manson, Murderous Cult Leader, Dead at 83</li>
            <li>Manspreader Punches Woman In The Face</li>
            <li>Liberals Even Miss Obama's Dog: SNL Wants Barack Back</li>
            <li>'Family Values' Republican Guilty of Sex Trafficking</li>
            <li>Melania To Take In White House Christmas Tree Early</li>
            <li>Turkish Capital Bans LGBT Activism, Cites 'Security'</li>
          </ul>
        </div>
        <div id="newsletter-sign-up">
          <div id="n-box"><p>N</p></div>
          <h5>Sign up for<br>our newsletter</h5>
          <a href="#">Sign Up</a>
          <p>Update your preferences »</p>
        </div>
      </div>
    </div>
  </section>

</div>
